/* Pets title */
.pets-title{
   font-weight: 800 !important; 
   background-color:#F9F9F9 !important;
}

/* Pets cards */

.kitty-card, .toby-card{
    cursor: pointer;
}

.title-card{
    background-color:#F9F9F9 !important;
}

/* images */
.kitty,.toby{
    width: 120px;
}

/* text */
.age, .type{
    font-size: 0.85rem !important;
    font-weight: 500 !important;
}

.pet-name{
    font-weight: 700 !important;
    color: #A5D4FB !important;
}


/* Plus button for adding pets */

.plus-button{
    cursor: pointer;
    color: #FBE2B9 !important;
}

.plus-button:hover{
    color: #FBE2B9 !important;
    opacity: 0.7 !important;
}

.pet-link{
    color:#000 !important;
    text-decoration: none !important;
}