
.search-box{
    color: #ABABAB;
    font-size: 0.9rem;
    background: #F2F2F2;
    border-radius: 20px;
    height: 40px; 
    padding:10px;
}

.search{
    background: #F2F2F2 !important;
}

.search:focus, 
.search:active:focus,
.search.active:focus, 
.glass-btn:focus, 
.glass-btn:active:focus,
.glass-btn.active:focus{
    outline:none !important;
    box-shadow:none !important;
}

.glass{
    color: #ABABAB !important;
    width: 13px;
}