.dog{
    font-family: 'Gilroy', sans-serif;
    height:100vh;
    background-color:#F9F9F9 !important;
}

.toby-name{
    font-size: 1.875rem;
    font-weight: 800;
}

.arrow{
    color:#000 !important;
}




