.landing{
    font-family: 'Gilroy', sans-serif;
    height:100vh;
    background-color:#F9F9F9 !important;
}

.user{
    width: 3.75rem;
    cursor: pointer;
}

.welcomeUser{
    font-size: 1.875rem;
}
