.splash{
    height: 100vh;
    background-color:#F9F9F9 !important;
}

.logo{
    width:300px;
}

.splash-text{
    font-size: 2.25rem;
    color: #A5D4FB !important;
    font-weight: 700;
}


.btn-splash{
    background-color: #A5D4FB !important;
    border-radius: 20px !important;
    border-color:#ffff!important;
    outline:none !important;
    height: 2.5rem;
}

.btn-splash:focus, 
.btn-splash:active:focus,
.btn-splash.active:focus{
    outline: none !important;
    box-shadow:none !important;
    border-color:none !important;
}

.btn-splash:hover{
    background-color: #ffff !important; 
    color: #A5D4FB !important;
    border-color: #A5D4FB !important;
}

