.medical-heightCard, .vaccination-heightCard, .visits-heightCard, .info-heightCard {
    height: 150px;
    width: 200px;
    justify-content: center;
    align-items: center;
    border:none !important;
    cursor: pointer;
}

.medical-heightCard, .vaccination-heightCard, .visits-heightCard, .info-heightCard{ 
    background: #A5D4FB !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}


