.name,
.email,
.password {
	color: #b9b9b9 !important;
	background-color: #f2f2f2 !important;
}

.btn-sign {
	background: #dddddd !important;
	color: #000 !important;
	font-weight: 800;
	font-size: 1rem;
	border-color: #dddddd !important;
}

.btn-sign:hover {
	background: #fff !important;
	color: #b9b9b9 !important;
	font-weight: 800;
	font-size: 1rem;
	border-color: #dddddd !important;
}

.btn-sign:focus,
.btn-sign:active:focus,
.btn-sign.active:focus {
	outline: none !important;
	box-shadow: none !important;
	border-color: none !important;
}

.login-link {
	text-decoration: none !important;
	color: #000 !important;
	font-family: "Gilroy", sans-serif;
	font-weight: 800;
}
