/* cards */
.medical-heightCard, .vaccination-heightCard, .visits-heightCard, .info-heightCard {
    height: 150px;
    width: 200px;
    justify-content: center;
    align-items: center;
    border:none !important;
    cursor: pointer;
    color: #fff !important;
}

.medical-heightCard, .vaccination-heightCard, .visits-heightCard, .info-heightCard {
    background: #A5D4FB !important;
}

.medical-heightCard:hover, .vaccination-heightCard:hover, .visits-heightCard:hover, .info-heightCard:hover {
   opacity: 0.5;
}

.medical-text{
    font-weight: 800 !important;
    font-size:  1.1rem !important;
}
