.toby-summary{
    border-radius: 10px !important;
}

.race, .weight , .age-dog , .gender {
    width: 30px;
    color: #A5D4FB !important;
}

.race-card, .weight-card, .age-card , .gender-card {
    border:none !important;
}

.pet-text{
    font-size: 0.9rem !important;
    font-weight: 700 !important;
    color: #A5D4FB !important;
}