.vet-card, .grooming-card ,.consult-card ,.nutrition-card{
    cursor: pointer;
}
.vet,.grooming, .consult , .nutrition {
    width: 30px;
}

.paw{
    width: 40px;
}

.card-text{
    font-size: 0.8rem !important;
}

.date-title{
    font-size: 0.9rem !important;
}