
.search-box{
    color: #ABABAB;
    border:none;
    font-size: 0.9rem;
    background: #F2F2F2;
    border-radius: 20px;
    height: 40px; 
    padding:10px;
}

.search-text{
    border:none;
    background: #F2F2F2;
}

.glass{
    color: #ABABAB;
    width: 13px;
}