.sideBar {
	background-color: peru;
	height: 100vh;
	width: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px;
	position: fixed;

	transition: 850ms;
}
.sideBar.menu-active {
	left: 0;
	transition: 350ms;
}
.sideBar .sideBarCloseBtn {
	font-size: 25px;
	width: 100%;
	text-align: right;
	padding-right: 20px;
	color: white;
}
.sideBar .profile {
	text-align: center;
	margin: 40px 0;
}

.sideBar-links {
	width: 100%;
}

.sideBar-links a {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: white;
	padding: 20px 10px;
	border: 1px solid rgb(202, 200, 200);
	border-radius: 10px;
	margin-bottom: 10px;
}

.sidebar-link a:hover {
	background: #000;
}
.sideBar.inactive {
	width: 50px;
}
.sideBar .hidden {
	display: none;
}
