:root {
	--bgcolor: #fbe2b9;
}

.form{
	font-family: 'Gilroy', sans-serif;
}

.tab-content {
	width: 400px;
}
.radius {
	border-radius: 10px;
}

.form-group {
	margin-bottom: 1rem;
}
.form-control {
	border-radius: 10px;
	padding: 1.4rem;
}

.form .btnUser {
	color: black;
	font-weight: 700;
	border: none;
	background-color: var(--bgcolor);
	border-radius: 10px;
}

.form .btnUser:hover {
	background-color: #ffff ; 
	color: var(--bgcolor);
	border-color: var(--bgcolor);
}

.form .btnUser:active {
	border: none;
	outline: 0;
	color: black !important;
	background-color: var(--bgcolor) !important;
}
.form .btnUser:focus {
	box-shadow: none !important;
	background-color: #ffff ; 
	color: var(--bgcolor);	
}


.form .form-control {
	background-color: #F2F2F2 ;
	padding: 1.3em;
	border-radius: 10px;
	border-color: #F2F2F2 ;
	color:#9E9E9E !important;
}

.form-control:focus {
	box-shadow: none !important;
	border: none !important;
	border-color: none !important;
	background-color: #F2F2F2!important;
}

/*  Nav tabs */

.nav-tabs .nav-link {
	border: 0 !important;
	color: black;
}

.nav-tabs .nav-link.activeAnchor {
	border-bottom: 4px solid #f4c897 !important;
	background-color: #f9f9f9;
}
.nav-tabs .nav-link.activeProf {
	border-bottom: 4px solid #a5d4fb !important;
	background-color: #f9f9f9;
}

.form .btnProf {
	border-radius: 10px;
	color: black;
	font-weight: 700;
	border: none;
	background-color: #a5d4fb;
}
.form .btnProf:hover {
	background-color: #ffff !important; 
	color:#a5d4fb;
	border-color: #a5d4fb;
}

.form .btnProf:active {
	border: none;
	outline: 0;
	color: black !important;
	background-color: #a5d4fb !important;
}
.form .btnProf:focus {
	box-shadow: none !important;
	color: black;
	background-color: #a5d4fb;
}
